<mat-card>
  <!-- <mat-card class="positions"><h1>Angriff</h1></mat-card>
  <mat-card (click)="openPlayerDetails('276', 'Brasilien')">
    <div>
      <img src="/assets/imgs/profile.png" alt="" />
      <div>
        <h1>firstname</h1>
        <h1>lastname</h1>
      </div>
    </div>
  </mat-card>
  <mat-card (click)="openPlayerDetails('276', 'Brasilien')">
    <div>
      <img src="/assets/imgs/profile.png" alt="" />
      <div>
        <h1>firstname</h1>
        <h1>lastname</h1>
      </div>
    </div>
  </mat-card>
  <mat-card (click)="openPlayerDetails('276', 'Brasilien')">
    <div>
      <img src="/assets/imgs/profile.png" alt="" />
      <div>
        <h1>firstname</h1>
        <h1>lastname</h1>
      </div>
    </div>
  </mat-card> -->
  <mat-card
    *ngFor="let player of st['0']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of st['1']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of st['2']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card class="positions"><h1>Mittelfeld</h1></mat-card>
  <mat-card
    *ngFor="let player of mid['0']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of mid['1']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of mid['2']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card class="positions"><h1>Abwehr</h1></mat-card>
  <mat-card
    *ngFor="let player of def['0']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of def['1']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of def['2']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card class="positions"><h1>Torhüter</h1></mat-card>
  <mat-card
    *ngFor="let player of gk['0']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of gk['1']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngFor="let player of gk['2']"
    (click)="openPlayerDetails(player.player.id, player.player.birth.country)"
  >
    <div>
      <img
        *ngIf="player.player.photo !== undefined"
        src="{{ player.player.photo }}"
        alt=""
      />
      <img
        *ngIf="player.player.photo == undefined"
        src="/assets/imgs/profile.png"
        alt=""
      />
      <div>
        <h1>{{ player.player.firstname }}</h1>
        <h1>{{ player.player.lastname }}</h1>
      </div>
    </div>
  </mat-card>
</mat-card>
