img {
  width: 64px;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
  > mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 12px);
    padding: 16px;
    background-color: #303030;
    text-align: center;
    &:hover {
      background-color: #1584b8;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .wrap {
    > mat-card {
      width: calc(33% - 12px);
    }
  }
  img {
    width: 48px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .wrap {
    > mat-card {
      width: calc(50% - 8px);
    }
  }
  img {
    width: 36px;
  }
  h2 {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
    .wrap {
      gap: 16px;
      width: 100%;
      padding: 16px;
      > mat-card {
        width: calc(50% - 8px);
        padding: 8px;
      }
    }
    img {
      width: 36px;
    }
    
  }
