<mat-card>
    <h1>Top 20: Vorlagen</h1>
    <table>
        <tr>
            <th>Rang</th>
            <th>Name</th>
            <th>Tore</th>
            <th>Club</th>
        </tr>
        <tr *ngFor="let assist of assists; index as i">
            <td>{{i+1}}.</td>
            <td><img class="imgPhoto" src="{{assist.player.photo}}" alt=""> {{assist.player.name}}</td>
            <td>{{assist.statistics['0'].goals.assists}}</td>
            <td><img class="imgLogo" src="{{assist.statistics['0'].team.logo}}" alt=""></td>
            
        </tr>
    </table>
</mat-card>
