<mat-card class="section">
  <mat-card class="matchInfos">
    <h3>{{ matchInfo.matchDateTime | date : "dd.MM.yyyy',' HH:mm 'Uhr'" }}</h3>
    <mat-card>
      <div class="matchDetails">
        <img *ngIf="this.matchInfo" src="{{ team1Logo }}" alt="" />
        <div class="matchResult">
          <h1 *ngIf="this.matchInfo">{{ pointsTeam1|| 0 }}</h1>
          <h2 *ngIf="this.matchInfo">{{ team1Name }}</h2>
          <h1>:</h1>
          <h2 *ngIf="this.matchInfo">
            {{ team2Name }}
          </h2>
          <h1 *ngIf="this.matchInfo">{{ pointsTeam2 || 0 }}</h1>
        </div>
        <img *ngIf="this.matchInfo" src="{{ team2Logo }}" alt="" />
      </div>
      <div class="halfTime">
        <h3 *ngIf="this.matchInfo">({{ pointsHalf1 || 0 }}</h3>
        <h3>:</h3>
        <h3 *ngIf="this.matchInfo">{{ pointsHalf2 || 0 }})</h3>
      </div>

      <h3 *ngIf="this.matchInfo">{{ groupName }}</h3>
      <div class="goals">
        <table>
          <tr>
            <th><h1>Info</h1></th>
          </tr>
          <tr *ngFor="let goal of matchInfo.goals">
            <h2>{{ goal.matchMinute || goal.comment }} min</h2>
            <h2>{{ goal.goalGetterName }}</h2>
            <ng-template
              ><h2 [ngIf]="goal.isOvertime">overtime</h2></ng-template
            >
            <ng-template><h2 [ngIf]="goal.isOwnGoal">owngoal</h2></ng-template>
            <ng-template><h2 [ngIf]="goal.isPenalty">penalty</h2></ng-template>
          </tr>
        </table>
      </div>
    </mat-card>
    <div>
      <button
        mat-button
        style="width: fit-content; background-color: #1584b8"
        [routerLink]="['../']"
      >
        Zurück
      </button>
    </div>
  </mat-card>
</mat-card>
