mat-card {
  padding: 16px;
  > table {
    > tr:first-child {
      background-color: #1584b8;
      > th {
        text-align: start;
        padding: 16px;
      }
    }
    > tr {
      width: 100%;
      > td {
        width: 50%;
        padding: 16px;
        border: 1px solid #303030;
      }
    }
  }
}

@media (max-width: 500px) {
  mat-card {
    > table {
      > tr:first-child {
        > th {
          font-size: 14px;
        }
      }
      > tr {
        > td {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  mat-card {
    > table {
      > tr:first-child {
        > th {
          font-size: 14px;
        }
      }
      > tr {
        > td {
          font-size: 12px;
        }
      }
    }
  }
}
